body {
    background: url(../img/mhh.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: monospace;
}

form {
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background: #31384A;
    color: #fff;
    padding: 20px;
}

#textarea1{
    color: #fff;
}

#boton:hover {
    cursor: pointer;
}


@media (max-width:480px) {
    form{
        width: 100%;
    }
}

.letra {
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
    background: rgba(0,0,0,0.4);
    margin-top: 20px;
}
.letra2 {
    color: #66CC99;
}
.pr {
    color: #fff;
    font-size: 20px;
}

.swiper-container {
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.sombra {
    background: rgba(0,0,0,0.4);
}


img{
    width: 100%;
}

h6{
    color: #FFFFFF;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
    position: relative;
}

.carousel__anterior,
.carousel__siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #fff;
    opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
    opacity: 100%;
}

.carousel__anterior {
    left: 20px;
    color: black;
    font-size: 40px;
    margin-top: -40px;
    position: all;
}

.carousel__siguiente {
    right: 20px;
    color: black;
    font-size: 40px;

}

.carousel__lista {
    overflow: hidden;
}

.carousel__elemento {
    text-align: center;
}

.carousel__indicadores .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #fff;
    opacity: .2;
    border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
    opacity: .5;
}

.carousel__indicadores .glider-dot.active {
    opacity: 1;
}

@media screen and (max-width: 800px) {
        

    .contenido-principal {
        flex-direction: column;
    }

    .contenido-principal > * {
        width: 100%;
    }
}

.contenedor {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}













